# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Idea
.ideas

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# IDEA
.idea/*
cmake-build-debug/*

# CMake debug
UtilityIT/cmake-build-debug/*


# Executables
*.exe
*.out
*.app
